

button{
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;

}

button:hover{
  filter: brightness(90%);
}

button:active{
  transform: scale(95%);
  filter: brightness(100%);
}