@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");
/* "Mukta", sans-serif; */

.cities-dealed {
    font-family: "Mukta", sans-serif;
    display: flex;
    justify-content: center;

    align-items: center;

    margin: 10vh;
    margin-top: 2rem;
    margin-bottom: 50vh;
}

.c-d-container {
    display: flex;
    align-items: center;
    width: 85%;
    /* max-width: 1000px; */
    background-color: #f0f0f0;
    /*     background-color: aqua ; */
}

.c-d-scroll-container {
    /*   background-color: tomato ; */
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    /* For Firefox */
    -ms-overflow-style: none;
    /* For Internet Explorer and Edge */
}

.c-d-scroll-container::-webkit-scrollbar {
    display: none;
    /* For Chrome, Safari, and Opera */
}

.card,
.c-d-card {
    min-width: 190px;
    height: 230px;

    padding: 0.5rem;
    margin: 10px;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: column;
    font-size: 18px;

    transition: 0.2s transform;
    cursor: pointer;
    border-radius: 1rem;
    border: 2px solid #ddd;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.scroll-btn {
    background-color: #ce2029;
    color: white;
    border: none;

    padding: 2rem 0.8rem;
    cursor: pointer;
    font-size: 20px;
    margin: 0 10px;

    font-size: 2rem;
    font-weight: 500;

    border-radius: 0.5rem;
}

.scroll-btn:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.scroll-btn:hover {
    filter: brightness(110%);
}

.c-d-card-upper,
.c-d-card-lower {
    /*   border: 1px solid black; */
    /*     height: 50% ; */
    width: 100%;
}

.c-d-card-upper {
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid #ddd;
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1);
}

.c-d-card-upper img {
    height: 90%;
    width: 70%;
    border-radius: 50%;
}

.c-d-card-lower {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.c-d-card-lower .city-card-city-name {
    font-weight: 600;
}