


.searchbar-div{
    /* margin: auto; */
    flex: 1;
    padding: 1rem;
    /* background-color: white; */

}

.searchbar{
    
    background-color: #FEFDFD;
    margin: 10px;
    width: 125vmin;
    height: 8vh;
    margin: auto;
    border-radius: 5rem;

    border: 2px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}

.searchbar-elem{
    /* margin: auto; */
    /* margin-top: 0.3rem; */
    /* border: 1px dotted black; */
    
    padding: 0.5rem;
    width: 40vmin;


    /* background-color: gray; */
}

#searchbar-id{
    padding: 0 1rem;
}

#first-item{
    width: 60vmin;
    /* background-color: #A29EA4; */
    padding-left: 0%;

}


.first-item-sub-elem, .second-item-sub-elem{
    border-right: 1px solid #ddd;
    
}
.second-item-sub-elem , .third-item-sub-elem{
    display: flex;
    
    
}



.searchbar-elem-btn{
    border: none ;
    width: 19vb;
    
    background-color: #FEFDFD;
  
    
  color: #757575;
  font-size:medium;
  font-weight: 100;
  text-align: center;

  cursor: pointer;
  font-family:Verdana, Geneva, Tahoma, sans-serif

}






.first-item-sub-elem{
    display: flex;
    align-items: center;
    
}
 .searchbar-icons{
    padding-top: 0.4rem;
    margin-right: 0.5vb;
    height: 2vmax;

} 

#searchbar-location-input{
    border: none;
    height: 5vh;
    width: 35vb;
    font-size:medium;
  font-weight: 100;
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
  
}

#fourth-item{
    display: flex;
    padding:0% ;
   padding: 0.4rem 0 0.3rem 0 ;
   width: 10rem;
   
}

.searchbar-searchBtn{
    margin-right: 0%;
    padding: 0 1rem;
    height: 6vh ;
    width: 10rem;

    background-color: #D8242B;
    color: white;
    font-size: medium;
    font-weight: 900;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;

    border: none;
    border-radius: 5rem;

    cursor: pointer;

    display: flex;
    align-items: center;

    transition: 0.3s filter ease;

    

}

.searchbar-searchBtn:hover{
    filter: brightness(110%);
}


#search-icon-searchbar{
    margin-left: 1vb;
    margin-right: 1vb;
    padding-top: 0%;
    height: 1.5vmax;
    
}

