
*{
    margin: 0;
    padding: 0;
}


h1{
    text-align: center;
    margin: 1rem;
}

.container{
    margin : 1rem 5rem ; 
    border: 1px solid black;
    
    height: 600px;
    display: flex;
    
    flex-direction: column;
    justify-content: space-around; 
    flex-wrap: wrap;
    align-items: center;
    align-content: center ;
    

}



.box{
    height: 100px;
    width: 100px;
    border : 2px solid black ;
    display: inline-block;
   
}


#box1{
    background-color: tomato;
}
#box2{
    background-color: aqua;
    /* height: 200px; */
}
#box3{
    background-color: gainsboro;
    /* height: 50px; */
}
#box4{
    background-color: burlywood;
}
#box5{
    background-color: rgb(111, 81, 81);
}



